@import 'blocks/header-navigation.scss';
@import 'blocks/home-section.scss';
@import 'blocks/services.scss';
@import 'blocks/about-us.scss';
@import 'blocks/works.scss';
@import 'blocks/parallax.scss';
@import 'blocks/clients.scss';
@import 'blocks/contact.scss';
@import 'blocks/footer.scss';
*{
    box-sizing: border-box;
}
.container{
    margin: 0 auto;
    width: 80%;
}
.line{
    &_white{
        color: white;
        font-size: 25px;
        padding-bottom: 20px;
    }
    &_black{
        color: black;
        font-size: 25px;
        padding-bottom: 20px;
    }
}

