<!doctype html/>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width" initial-scale="1")
        title start-up
        link(href="./styles/main.css", rel="stylesheet")
    body
        include section/header-navigation.pug
        include section/home-section.pug
        include section/services.pug
        include section/about-us.pug
        include section/works.pug
        include section/parallax.pug
        include section/clients.pug
        include section/contact.pug
        include section/footer.pug