<!doctype html/>
    head
        link(href="./styles/main.css", rel="stylesheet")
    body
        .header-navigation
            .container
                include section/header-navigation.pug
        .home-section
            .container
                include section/home-section.pug
        .services
            .container
                include section/services.pug
        .about-us
            .container
                include section/about-us.pug
        .works
            .container
                include section/works.pug
        .parallax
            .container
                include section/parallax.pug
        .clients
            .container
                include section/clients.pug
        .contact
            .container
                include section/contact.pug
        .footer
            .container
                include section/footer.pug