.clients__logo
    img(src="img/clients-logo1.png", alt="")
    img(src="img/clients-logo2.png", alt="")
    img(src="img/clients-logo3.png", alt="")
    img(src="img/clients-logo4.png", alt="")
    img(src="img/clients-logo5.png", alt="")
.clients__discription Hvaing placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum”
.clients__name John Doe, Google Inc