.contact__title Get in touch
.contact__subtitle Lorem ipsum dolor sit amet, consetetur sadipscing elitr amet
.contact__form
    .contact-form__left
        .contact-form__left-address
            h3.contact-form__left-title ♀ Address
            p.contact-form__left-subtitle 312, 7th Ave, New York 
            p.contact-form__left-subtitle NY 101200, United States of America
        .contact-form__left-hotline
            h3.contact-form__left-title ☎ Hotline (24x7)
            p.contact-form__left-subtitle +65 0052 300, +65 88251 210
            p.contact-form__left-subtitle +88 01723 511 340
        .contact-form__left-email
            h3.contact-form__left-title ✉ E-mail
            p.contact-form__left-subtitle shapedtheme@gmail.com
            p.contact-form__left-subtitle khalilkode@gmail.com
    .contact-form__right
        .contact-form__all-input
            .contact-form__righ-password-email
                input.contact-form__righ-password.contact-form__input(type="password" placeholder="!")
                input.contact-form__righ-email.contact-form__input(type="email" placeholder="Your E-mail")
            .contact-form__right-name-subject
                input.contact-form__right-subject.contact-form__input(type="text" placeholder="Your subject")
                input.contact-form__right-name.contact-form__input(type="text" placeholder="Company name")
            .contact-form__right-message
                input.contact-form__right-message(type="text" placeholder="Write your message")
        .contact-form__bottom
            button.contact-form__bottom-button SEND MESSAGE
            .contact-form__bottom-discription * We’ll contact you as as possible. We don’t reply on Monday.
