.footer
    .container
        .footer__icon
            img.footer__twitter(src="img/footer-twitter.png", alt="")
            img.footer__twitter(src="img/footer-twitter.png", alt="")
            img.footer__twitter(src="img/footer-twitter.png", alt="")
            img.footer__twitter(src="img/footer-twitter.png", alt="")
        .line_white _____
        .footer__discription © 2015 Startup, Designed by ShapedTheme