.footer__icon
    img(src="img/footer-twitter.png", alt="")
    img(src="img/footer-twitter.png", alt="")
    img(src="img/footer-twitter.png", alt="")
    img(src="img/footer-twitter.png", alt="")
.footer__discription
    p © 2015 Startup, Designed by ShapedTheme