.header-navigation__logo-services
    .header-navigation__logo Startup
    .header-navigation__all-services 
        a.header-navigation__services(href="#") Home
        a.header-navigation__services(href="#") Services
        a.header-navigation__services(href="#") About
        a.header-navigation__services(href="#") Works
        a.header-navigation__services(href="#") Blog
        a.header-navigation__services(href="#") Clients
        a.header-navigation__services(href="#") Contact