.home-section
    .container
        .home-section__content
            .home-section__title Welcome to STARTUP
            .home-section__discription Your Favourite Creative Agency Template
            button.home-section__button GET STARTED