.parallax__top
    h2.parallax__top-title Do you like OUR WORK so far?Let's talk about YOUR PROJECT!
    button.parallax__top-button GET IN TOUCH
.parallax__blog
    .parallax__blog-title-subtitle
        h3.parallax__blog-title Recent blog posts
        p.parallax__blog-subtitle Lorem ipsum dolor sit amet, consetetur sadipscing elitr amet
    .blog-post
        .blog-post__top
            .blog-post__left-column
                img(src="img/blog-post-top.png", alt="")
            .blog-post__right-column
                .blog-post__title-date
                    .blog-post__date
                        p.blog-post__date-numbers 18
                        p.blog-post__date-month OCT
                    .blog-post__title-subtitle
                        h3.blog-post__title Startup ideas needs to be funded
                        p.blog-post__subtitle By Khalil Uddin in Development
                .blog-post__content
                    p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod teduntlabore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et erebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit am Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidulabore et dolore aliquyam erat, sed diam 
                .blog-post__details
                    a(href="#") Read more
        .blog-post__bottom
            .blog-post__left-column
                img(src="img/blog-post-bottom.png", alt="")
            .blog-post__right-column
                .blog-post__title-date
                    .blog-post__date
                        p.blog-post__date-numbers 18
                        p.blog-post__date-month OCT
                    .blog-post__title-subtitle
                        h3.blog-post__title Startup ideas needs to be funded
                        p.blog-post__subtitle By Khalil Uddin in Development
                .blog-post__content
                    p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod teduntlabore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et erebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit am Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidulabore et dolore aliquyam erat, sed diam 
                .blog-post__details
                    a(href="#") Read more