.services
    .container
        .services__content
            .services__title SERVICES
            .line_black _____
            .services__subtitle We offer ipsum dolor sit amet, consetetur sadipscing elitr amet
        .services__all-column
            .services__column
                .services__icon.icon_left
                .services__column-title Clean Typography
                .services__column-subtitle Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit. Lorem ipsum.
            .services__column
                .services__icon.icon_center
                .services__column-title Rock Solid Code
                .services__column-subtitle Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit. Lorem ipsum.
            .services__column
                .services__icon.icon_right
                .services__column-title Expert Support
                .services__column-subtitle Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit. Lorem ipsum.  

