.services__title-subtitle
    h2.services__title SERVICES
    p.services__subtitle We offer ipsum dolor sit amet, consetetur sadipscing elitr amet
.services__all-column
    .services__left-column
        img(src="img/left-icon.png", alt="")
        h3 Clean Typography
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit. Lorem ipsum.
    .services__center-column
        img(src="img/center-icon.png", alt="")
        h3 Rock Solid Code
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit. Lorem ipsum.
    .services__right-column
        img(src="img/right-icon.png", alt="")
        h3 Expert Support
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit. Lorem ipsum.  

