.works
    .container
        .works__title Latest Works
        .line_black _____
        .works__all-subtitle
            p.works__subtitle All
            p.works__subtitle Branding
            p.works__subtitle Design
            p.works__subtitle Development
            p.works__subtitle Strategy
        .works__image
            .works__level
                .hair.level__pictures
                    .level__content
                        .level__title    Hair Dresser
                        .level__subtitle Branding
                        button.level__button View >
                .bird.level__pictures
                    .level__content
                        .level__title    Hair Dresser
                        .level__subtitle Branding
                        button.level__button View >
                .desktop.level__pictures
                    .level__content
                        .level__title    Hair Dresser
                        .level__subtitle Branding
                        button.level__button View >
            .works__level
                .camera.level__pictures
                    .level__content
                        .level__title    Hair Dresser
                        .level__subtitle Branding
                        button.level__button View >
                .bike.level__pictures
                    .level__content
                        .level__title    Hair Dresser
                        .level__subtitle Branding
                        button.level__button View >
                .notebook.level__pictures
                    .level__content
                        .level__title    Hair Dresser
                        .level__subtitle Branding
                        button.level__button View >
            .works__level
                .glasses.level__pictures
                    .level__content
                        .level__title    Hair Dresser
                        .level__subtitle Branding
                        button.level__button View >
                .office.level__pictures
                    .level__content
                        .level__title    Hair Dresser
                        .level__subtitle Branding
                        button.level__button View >
                .event.level__pictures
                    .level__content
                        .level__title    Hair Dresser
                        .level__subtitle Branding
                        button.level__button View >