.works__title
    h3 Latest Works
.works__all-subtitle
    p.works__subtitle All
    p.works__subtitle Branding
    p.works__subtitle Design
    p.works__subtitle Development
    p.works__subtitle Strategy
.works__image
    .works__level
        img(src="img/hair.png", alt="")
        img(src="img/bird.png", alt="")
        img(src="img/desktop.png", alt="")
    .works__level
        img(src="img/camera.png", alt="")
        img(src="img/bike.png", alt="")
        img(src="img/notebook.png", alt="")
    .works__level
        img(src="img/glasses.png", alt="")
        img(src="img/office.png", alt="")
        img(src="img/event.png", alt="")