.footer{
    text-align: center;
    padding-top: 99px;
    padding-bottom: 101px;
    background-color: #c0301c;
    &__icon{
        display: flex;
        justify-content: center;
    }
    &__discription{
        font-size: 12px;
        color: #ffffff;
    }
    &__twitter{
        padding: 0px 7px;
    }
}
@media (max-width: 768px){
    .footer{
        padding-top: 49px;
        padding-bottom: 51px;
        &__discription{
            font-size: 12px;
        }
        &__twitter{
            padding: 0px 5px;
        }
    }
}
@media (max-width: 426px){
    .footer{
        padding-top: 29px;
        padding-bottom: 31px;
        &__discription{
            font-size: 10px;
        }
        &__twitter{
            width: 30px;
        }
    }
}